* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  color: white;
  transition: 0.3s;
}

/* DARK MODE */
.dark {
  background: #111;
}

/* Toggle */
#toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 3.5rem;
}

.hero h2 {
  margin-top: 10px;
  color: #ffd369;
}

/* Links */
.links a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

/* Button */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #ffd369;
  color: black;
  border-radius: 25px;
  text-decoration: none;
}

/* Cards */
.card {
  max-width: 900px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
}

/* Skills */
.skills span {
  display: inline-block;
  background: #ffd369;
  color: black;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 20px;
}

/* Projects */
.project {
  margin-top: 15px;
  padding: 15px;
  border-radius: 10px;
  background: rgba(255,255,255,0.2);
  transition: 0.3s;
}

.project:hover {
  transform: scale(1.03);
}

/* Animation */
.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: 1s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
}
